* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas', monospace;
}

#links, nav {
  display: flex;
  justify-content: center;
}

button { 
  color: rgb(230, 230, 230);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

:root {
  width: 100%;
}
  
body {
  background-color: #1a1a1a;
}

#links > span {
  color: rgb(230, 230, 230);
}

#cityjs {
  background-image: url('../assets/city-js.jpg');
}

#nodebr {
  background-image: url('../assets/node-br.jpg');
  background-position: 0 50%;
}
