@font-face {
    font-family: GeistBold;
    src: url("../fonts/Geist-Bold.otf") format("opentype");
}

@font-face {
    font-family: Geist;
    src: url("../fonts/Geist-Regular.otf") format("opentype");
}

@font-face {
    font-family: JetBrainsMono;
    src: url("../fonts/JetBrainsMono-Regular.ttf");
}