* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

code {
    margin-block: 10px;
    height: 100%;
    background-color: #2b2b2b !important;
    color: white !important;
    font-family: 'JetBrainsMono';
    font-size: medium;
    padding: 0px !important;
    padding: 20px !important;
    border-radius: 10px;
    border: 1px solid black;
}

.hljs-title {
    color: rgb(64, 134, 238);
}

.hljs-number {
    color: rgb(102, 204, 102);
}

.hljs-keyword {
    color: rgb(231, 157, 231);
}

.hljs-built_in {
    color: rgb(215, 145, 243);
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

section > p {
    font-size: medium;
    font-family: 'Geist';
}

li {
    font-size: medium;
    margin-left: 20px;
    font-family: 'Geist';
    line-height: 25px;
}

a {
    color: inherit;
}